{% extends 'base.html.twig' %}

{% block title %}Marianne Marić{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #ffffff; padding: 2px 6px; }
</style>

<div>
    <div class="w-[1280px] flex items-center justify-center h-screen m-auto">
        <div class="w-1/2 mr-8 flex flex-col items-center justify-center">
            <h1 class="antic-didone-regular text-4xl mb-4">Marianne Marić</h1>

            <ul class="antic-didone-regular space-y-2">
                <li><a class="hover:underline cursor-pointer">Photographs</a></li>
                <li><a class="hover:underline cursor-pointer">Fashion</a></li>
                <li><a class="hover:underline cursor-pointer">Exhibitions</a></li>
                <li><a class="hover:underline cursor-pointer">Articles and books</a></li>
                <li><a class="hover:underline cursor-pointer">CV</a></li>
                <li><a class="hover:underline cursor-pointer">Contact info</a></li>
            </ul>
        </div>

        <div class="h-screen w-1/2 flex items-center">
            <img class="h-full object-contain" src="{{ asset('/img/scan0035-scaled.webp') }}" alt="Architecture Corporelle par Marianne Maric">
        </div>
    </div>
</div>
{% endblock %}
