{% extends 'base.html.twig' %}

{% block title %}Marianne Marić{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #ffffff; padding: 2px 6px; }
</style>

<div>
    <div class="w-[1280px] flex items-center justify-center h-screen m-auto">
        <div class="w-1/2 mr-8 flex flex-col items-center justify-center">
            <h1 class="antic-didone-regular text-4xl mb-4">Marianne Marić</h1>

            <ul class="antic-didone-regular flex flex-col space-y-2">
                {% for item in menuItems %}
                    <li>
                        <a href="{{ path(item.route) }}" class="hover:underline cursor-pointer">
                            {{ item.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="h-screen w-1/2 flex items-center">
            <img class="h-full object-contain" src="{{ asset('/img/scan0035-scaled.webp') }}" alt="Schweissdissi par Marianne Maric">
        </div>
    </div>
</div>
{% endblock %}
